.informacion-titulo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.contenedor-reportes{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    overflow-x: auto;
    border: radius 16px;
    border-radius: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;

    
}

td{
    text-align: center;
}

